
body {
    background: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 20px;
}

h1 {
    color: purple;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    color: darkblue;
    text-align: center;
}

p {
    text-align: center;
    color: red;
}

#para1 {
    display: block;
    text-align: center;
    color: blue;
}

