p {
text-align: center; color: red;
}
#para1 {
text-align: center; color: blue;
}
.center {
text-align: center; color: green;
}
body {
background: greenyellow;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: purple;
text-align: center;
}